PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=odfhjlkdancdlanlvnd_jcdmcdvdnvsdjcsdbvjndvsd_cnldnadmlz
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=123
REFRESH_TOKEN_EXPIRY=10d
















MONGODB_URI=mongodb+srv://hazma16201_db_user:HazmaPass2026@cluster0ne.wgpq2iz.mongodb.net